@media only screen and (max-width: 600px) {
  .hero {
    .right {
      display: none;
    }
    .left {
      margin: 0;
      h1 {
        font-size: 2px;
        text-align: center;
      }
    }
  }
}
