@media only screen and (max-width: 600px) {
  .hero {
    justify-content: center;
    height: 100vh;
    .right {
      display: none;
    }
    .left {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 4rem;
        text-align: center;
      }
    }
  }
  .contact-container {
    flex-direction: column;
    align-items: center;
    .left {
      .info {
        p {
          margin: 0;
          text-align: center;
          font-size: 5px;
        }
      }
    }
  }
}
